<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">APP板儿砖 DEMO</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="topcoat-list__container list">
    <h3 class="topcoat-list__header">ROOM LIST</h3>
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            聚会  ROOM1   | 1.0km
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            聚会  ROOM2   | 2.0km
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            聚会  ROOM3   | 3.0km
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            聚会  ROOM4   | 4.0km
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            会议  ROOM5   | 5.0km
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            会议  ROOM6   | 6.0km
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            会议  ROOM7   | 7.0km
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            会议  ROOM8   | 8.0km
        </li>
    </ul>
    <div class="topcoat-navigation-bar">
        <h1 class="centerize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
     
    </div>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>