<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
   
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">系统登录</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
   
    </div>
</div>

<div class="pad">
    
   <span class="topcoat-icon-button"> 电话:   <input type="tel" class="topcoat-text-input" value="" placeholder="18611111111"></span>
   
   <span class="topcoat-icon-button">
    昵称:   <input type="text" class="topcoat-text-input" value="" placeholder="张三"></span>
   

        <a class="topcoat-button--cta" ng-click="slidePage('/view9')" >登录</a>
   

</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>