
<div class="pad" style="padding-top:100px;">
    <div class="centerize">
    <a class="topcoat-icon-button"  ng-click="slidePage('/view4')">创建房间</a>
    <br>
    <br>
    <a class="topcoat-icon-button"  ng-click="slidePage('/view0')">加入房间</a>
    <br>
    <br>
    <a class="topcoat-button--cta"  ng-click="slidePage('/view2')">个人挑战</a>
    </div>
    
    <div class="scroll" style="margin-top:290px;text-align: center;">
        <h4>----最新排名----</h4>
        <p>第一名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王二</p>
        <p>第二名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;张三</p>
        <p>第三名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赵四</p>
        <p>第四名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jack</p>
        <p>第五名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lee</p>
        <p>第六名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tony</p>
        <p>第七名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;钱六</p>
        <p>第八名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周九</p>
    </div>
    
</div>






<ng-include src="'partials/settingsOverlay.html'"></ng-include>